<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Create a New Wish List Item </h1>
    <form method = "post" action = "{% url 'wishitems:this_product' %}">
      {% csrf_token %}
      Item/Product: <input type = "text" name = "item_name">
      <br>
      <input type = "submit" value = "Add">
    </form>
    {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
<a href = "{% url 'First:my_index' %}" > Home </a>
<br>
<a href = "{% url 'Login:logout' %}" > Logout </a>

  </body>
</html>
