<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Success! Welcome, {{user.first_name}}
 </h1>
    <h2> Your Wishlist </h2>
    <table border = "1px" name = "your_wishlist">
      <tr>
        <th> Item </th>
        <th> Added_by </th>
        <th> Date_Added </th>
        <th> Action </th>
      </tr>
      {% for items in wishlist %}

      <tr>
        {% for x in items.item_id.all %}
        <td><a href = "{% url 'wishitems:show' x.id %}">{{x.name}}</a> </td>
        <td> {{items.user_id.first_name}} </td>
        <td> {{items.created_at}} </td>
        <td>
          {% if request.session.user != items.user_id.id %}
           <a href = "{% url 'First:remove' items.id %}">Remove from my Wishlist </a>
           {% endif %}
         {% if request.session.user == items.user_id.id %}
          <a href = "{% url 'First:delete' x.id  %}">delete </a>
          {% endif %}
          {% endfor %}
      </tr>

      {% endfor %}

    </table>
    <h2> Other User's Wishlist </h2>
    <table border = "1px" name = "other_wishlist">
      <tr>
        <th> Item </th>
        <th> Added_by </th>
        <th> Date_Added </th>
        <th> Action </th>
      </tr>
      {% for items in otherwishlist %}

      <tr>
        {% for x in items.item_id.all %}
        <td><a href = "{% url 'wishitems:show' x.id %}">{{x.name}}</a> </td>
        <td> {{items.user_id.first_name}} </td>
        <td> {{items.created_at}} </td>
        <td>
          {% if request.session.user != items.user_id.id %}
           <a href = "{% url 'First:add' x.id %}">Add to my Wishlist  </a>
           {% endif %}
         {% if request.session.user == items.user_id.id %}
          <a href = "{% url 'First:delete' x.id  %}">delete </a>
          {% endif %}
          {% endfor %}
      </tr>

      {% endfor %}
    </table>
    <br>
    <br>
    <br>

    <a href = "{% url 'wishitems:create' %}"> Add Item </a>
    <br>
    <br>
    <form method = "post" action = "{% url 'Login:logout' %}">
      {% csrf_token %}
      <input type = "submit" value = "logout">
    </form>
  </body>
</html>
